<div class="row">
  <div class="col-md-4">
    <div class="fancy-border">
      <img src="{{ page.media[page.header.img].url }}" class="img-responsive">
    </div>
  </div>
  <div class="col-md-6">{{page.content}}</div>
</div>