{% block content %}
<section class="intro text-center section-padding" id="about_us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">{{ page.header.title }}</h1>
        <br> <br>
      </div>
    </div>
    {{page.content}}
  </div>
</section>
{% endblock %}